<!-- <google-map
height="30vh"
width="100%"
[options]="mapOptions"
[center]="mapCenter"
>
<map-marker [position]="markerPositions"></map-marker>
</google-map> -->
<main>
  <!-- ---------------------------------first section------------------------------- -->
  <div class="sub-banner">
    <section class="banner-section">
      <figure class="mb-0 bgshape">
        <img src="assets\img\home-banner-header.png" alt="" class="img-fluid" />
      </figure>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="banner_content">
              <h1>CONTACT</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                sapiente iste provident aperiam magni quasi libero debitis
                perferendis odio nisi
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="box">
      <span class="mb-0 text-size-16">Home</span>
      <span class="mb-0 text-size-16 dash">-</span
      ><span class="mb-0 text-size-16 box_span">Contact</span>
    </div>
  </div>

  <!-- ---------------------------------second section------------------------------- -->
  <section class="message-section">
    <div class="container position-relative">
      <figure class="element1 mb-0">
        <img src="assets/img/what-we-do-icon-1.png" class="img-fluid" alt="" />
      </figure>
      <div class="row position-relative">
        <div class="col-12">
          <div class="content">
            <h6>Let's Contact Us</h6>
            <h2>Get in Touch with Us</h2>
            <figure class="element3 mb-0">
              <img src="assets\img\home-element.png" alt="" class="img-fluid" />
            </figure>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="message_content aos-init" data-aos="fade-up">
            <form id="contactpage" method="POST" action="./contact-form.php">
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-0">
                    <h4>Name:</h4>
                    <input
                      type="text"
                      class="form_style"
                      placeholder="Enter Your Name"
                      name="name"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-0">
                    <h4>Email:</h4>
                    <input
                      type="email"
                      class="form_style"
                      placeholder="Enter Your Email Address"
                      name="emailid"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-0">
                    <h4>Phone:</h4>
                    <input
                      type="tel"
                      class="form_style"
                      placeholder="Enter Your Phone Number"
                      name="phone"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-0">
                    <h4>Message:</h4>
                    <textarea
                      class="form_style"
                      placeholder="Add Your Comment"
                      rows="3"
                      name="msg"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="manage-button text-center">
                <button type="submit" class="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3329737833114!2d144.96011341590386!3d-37.80566904135444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2s!4v1669200882885!5m2!1sen!2s"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ---------------------------------third section------------------------------- -->
  <section class="need-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content aos-init aos-animate" data-aos="fade-right">
            <h6>NEED MORE HELP?</h6>
            <h2>Leading, Trusted. Enabling growth.</h2>
            <p class="text-size-18">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididuntabore et dolore aliquaQuis ipsum suspe.
            </p>
          </div>
        </div>
      </div>
      <div class="row position-relative">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="service1">
            <figure class="img img1">
              <img
                src="assets/img/need-sales-icon.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <h3>Sales</h3>
            <p class="text-size-18">
              Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed
            </p>
            <a href="./contact.html" class="btn">Contact Sales</a>
          </div>
        </div>
        <figure class="arrow1 mb-0 aos-init" data-aos="fade-down">
          <img src="assets/img/need-arrow1.png" class="img-fluid" alt="" />
        </figure>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="service1 service2">
            <figure class="img img2">
              <img
                src="assets/img/need-more-icon2.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <h3>Help &amp; Support</h3>
            <p class="text-size-18">
              Labore et dolore magna aliqua quis ipsum suspendisse ultrices
            </p>
            <a href="./contact.html" class="btn">Get Support</a>
          </div>
        </div>
        <figure class="arrow2 mb-0 aos-init" data-aos="fade-up">
          <img
            src="assets/img/need-arrow-2.png"
            class="img-fluid"
            alt=""
          />
        </figure>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="service1">
            <figure class="img img3">
              <img
                src="assets/img/need-more-icon-3.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <h3>Article &amp; News</h3>
            <p class="text-size-18">
              viverra maecenas accumsan lacus vel facili sis consectetur
              adipiscing
            </p>
            <a href="./contact.html" class="btn">Read Article</a>
          </div>
        </div>
      </div>
    </div>
    <figure class="mb-0 need-layer">
      <img src="assets/img/need-layer.png" alt="" class="img-fluid" />
    </figure>
  </section>
</main>
