<section class="footer-section">
  <div class="partner-section">
    <div class="container">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of partners">
          <ng-template carouselSlide>
            <img [src]="item.src" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
      <!-- <div class="partner">
        <ul class="mb-0 list-unstyled">
          <li>
            <figure class="mb-0 partner1">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-1.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner2">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-2.png"
                alt=""
              />
            </figure>
          </li>
          <li class="img-mb">
            <figure class="mb-0 partner1 partner3">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-3.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner4">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-4.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner5">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-5.png"
                alt=""
              />
            </figure>
          </li>
          <li>
            <figure class="mb-0 partner1 partner5">
              <img
                class="img-fluid"
                src="assets/img/partner-logo-6.png"
                alt=""
              />
            </figure>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="container">
    <div class="middle-portion">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
          <a href="./index.html">
            <figure class="footer-logo">
              <img src="assets/img/footer-logo.png" class="img-fluid" alt="" />
            </figure>
          </a>
          <p class="text-size-16 footer-text">
            Lorem ipsum dolor sit amet, consectetur adipisc ing elitsed do
            eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur.
          </p>
          <figure class="mb-0 payment-icon">
            <img src="assets/img/payment-card.png" class="img-fluid" alt="" />
          </figure>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-12 d-lg-block d-none"></div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
          <div class="links">
            <h4 class="heading">Important Link</h4>
            <hr class="line" />
            <ul class="list-unstyled mb-0">
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Home
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span>
                About Us
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span>
                Services
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Contact
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Pricing
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >FAQ
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
          <div class="links">
            <h4 class="heading">Support</h4>
            <hr class="line" />
            <ul class="list-unstyled mb-0">
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Support
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Plan
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Benefits
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Testimonial
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span
                >Coming Soon
              </li>
              <li>
                <span
                  nz-icon
                  nzType="caret-right"
                  nzTheme="outline"
                  class="text-size-16 text text-decoration-none"
                ></span>
                Members
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">
          <div class="icon">
            <h4 class="heading">Get in Touch</h4>
            <hr class="line" />
            <ul class="list-unstyled mb-0">
              <li class="text-size-16 text">
                Email:
                <a
                  href="mailto:info@repay.com"
                  class="mb-0 text text-decoration-none text-size-16"
                  >info&#64;gmail.com</a
                >
              </li>
              <li class="text-size-16 text">
                Phone:
                <a
                  href="tel:+4733378901"
                  class="mb-0 text text-decoration-none text-size-16"
                  >+1 234 567 89 0 0</a
                >
              </li>
              <li class="text-size-16 text1">
                Fax:
                <a
                  href="tel:+198765432199"
                  class="mb-0 text text-decoration-none text-size-16"
                  >+1 (987) 654 321 9 9</a
                >
              </li>
              <li class="social-icons">
                <div class="circle">
                  <a href="#"
                    ><span nz-icon nzType="facebook" nzTheme="outline"></span
                  ></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><span nz-icon nzType="twitter" nzTheme="outline"></span
                  ></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><span nz-icon nzType="linkedin" nzTheme="outline"></span
                  ></a>
                </div>
                <div class="circle">
                  <a href="#"
                    ><span nz-icon nzType="instagram" nzTheme="outline"></span
                  ></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-size-16">Copyright © 2023 Repay. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
