<main>
  <!-- ---------------------------------first section------------------------------- -->
  <div class="sub-banner">
    <section class="banner-section">
      <figure class="mb-0 bgshape">
        <img src="assets\img\home-banner-header.png" alt="" class="img-fluid" />
      </figure>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="banner_content">
              <h1>EASY ACH FILE CREATOR</h1>
              <p>
                Easy ACH File Creator is a standalone software program that
                allows you to create NACHA formatted ACH files using data you
                enter or migrate from any Excel or Comma-separated Values (CSV)
                file. The program supports multiple common Standard Entry Class
                Codes (SECs) and works independently without the need for any
                additional software.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="box">
      <span class="mb-0 text-size-16">Home</span
      ><span class="mb-0 text-size-16 dash">-</span
      ><span class="mb-0 text-size-16">Service</span>
      <span class="mb-0 text-size-16 dash">-</span
      ><span class="mb-0 text-size-16 box_span">ACH</span>
    </div>
  </div>

  <!-- ---------------------------------second section------------------------------- -->
  <section class="service-section service position-relative">
    <div class="container position-relative">
      <figure class="mb-0 services-icon">
        <img
          src="assets/img/services-our-services-icon-1.png"
          class="img-fluid"
          alt=""
        />
      </figure>
      <div class="services-data">
        <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-12 col-12">
            <div class="service-box box-shadow">
              <figure class="img img1">
                <img
                  src="assets/img/services-payment-management-icon.png"
                  alt=""
                  class="img-fluid"
                />
              </figure>
              <div class="content">
                <h3>Generate ACH files with a click of the mouse</h3>
                <p class="text-size-18">
                  Collecting payments or paying customers - Direct deposit for
                  employees - Transferring payments to vendors and government
                  agencies - Consolidating funds between different bank accounts
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-12 col-12">
            <div class="service-box">
              <figure class="img img2">
                <img
                  src="assets/img/services-dashboard-icon.png"
                  alt=""
                  class="img-fluid"
                />
              </figure>
              <div class="content">
                <h3>Easy ACH File Creator is a stable and proven solution</h3>
                <p class="text-size-18">
                  This ACH software has been the standard since 2001 and is used
                  by companies and financial institutions throughout the world.
                  The software is updated regularly to ensure compliance with
                  all regulations and standards.
                </p>
                <!-- <a href="./pricing.html" class="more">More</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-12 col-12">
            <div class="service-box">
              <figure class="img img1">
                <img
                  src="assets\img\services-integrated-payment-icon.png"
                  alt=""
                  class="img-fluid"
                />
              </figure>
              <div class="content">
                <h3>How does it work?</h3>
                <p class="text-size-18">
                  Easy ACH File Creator creates a NACHA formatted file from data
                  you enter or create in an Excel or Comma-separated Values file
                  (CSV), guaranteeing it will work with any accounting package
                  that can create a CSV file.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-12 col-12">
            <div class="service-box box-shadow">
              <figure class="img img2">
                <img
                  src="assets\img\services-friendly.png"
                  alt=""
                  class="img-fluid"
                />
              </figure>
              <div class="content">
                <h3>Formatted for your needs</h3>
                <p class="text-size-18">
                  Intuitive and easy-to-use, Easy ACH File Creator simplifies
                  the process to create NACHA ACH files for fast electronic
                  funds-transfers. The software supports multiple common
                  Standard Entry Class Codes (SECs).
                </p>
                <!-- <a href="./pricing.html" class="more">More</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-4 col-sm-12 col-12">
            <div class="service-box box-shadow">
              <figure class="img img2">
                <img src="assets\img\secure.png" alt="" class="img-fluid" />
              </figure>
              <div class="content">
                <h3>Support you can trust</h3>
                <p class="text-size-18">
                  When you contact us, you won’t reach an endless phone tree or
                  hold music; you’ll reach an actual person with actual
                  solutions because it is important to experience valuable
                  support sessions.
                </p>
                <!-- <a href="./pricing.html" class="more">More</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <figure class="element1 mb-0">
        <img src="assets/img/what-we-do-icon-1.png" class="img-fluid" alt="" />
      </figure> -->
    </div>
  </section>

  <!-- ---------------------------------third section------------------------------- -->
  <section class="payment-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <!-- <h6>Payment Gateway</h6> -->
            <h2>Pricing</h2>
            <p class="text-size-18">
              Transparent, up-front pricing - One-time license fee - no monthly
              subscription - Add-ons available to dial in your service - just
              the way you like it
            </p>

            <nz-collapse
              nzAccordion
              [nzExpandIconPosition]="'right'"
              [nzBordered]="false"
            >
              @for (panel of panels; track panel) {
              <nz-collapse-panel
                [nzHeader]="panel.name"
                [nzActive]="panel.active"
              >
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <div>
                      <h3>{{ panel.content }}</h3>
                      @for (item of panel.childPanel; track item) {
                      <ul>
                        <li>{{ item.name }}</li>
                      </ul>
                      }
                    </div>
                    <div *ngIf="panel.childPanel2 !== undefined">
                      <h3>{{ panel.content }}</h3>
                      @for (item of panel.childPanel2; track item) {
                      <ul>
                        <li>{{ item.name }}</li>
                      </ul>
                      }
                    </div>
                    <div *ngIf="panel.content3 !== undefined">
                      <h3>{{ panel.content3 }}</h3>
                    </div>
                  </div>
                  <div class="col-3">
                    <h1 *ngIf="panel.price !== undefined">{{ panel.price }}</h1>
                    <a class="more" href="">{{ panel.button }}</a>
                  </div>
                </div>
              </nz-collapse-panel>
              }
            </nz-collapse>
          </div>
        </div>
      </div>
    </div>
    <figure class="mb-0 need-layer">
      <img src="assets/img/need-layer.png" alt="" class="img-fluid" />
    </figure>
  </section>
</main>
