<main>
  <!-- ---------------------------------first section------------------------------- -->
  <div class="sub-banner">
    <section class="banner-section">
      <figure class="mb-0 bgshape">
        <img src="assets\img\home-banner-header.png" alt="" class="img-fluid" />
      </figure>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="banner_content">
              <h1>CASH LOADING</h1>
              <p>
                Efficient And Reliable Processing Solutions For Your ATM
                machines. Surf Smoothly With Cash Loading. Canada's
                Independently Owned Network Of ATM Machines
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="box">
      <span class="mb-0 text-size-16">Home</span
      ><span class="mb-0 text-size-16 dash">-</span
      ><span class="mb-0 text-size-16">Service</span>
      <span class="mb-0 text-size-16 dash">-</span
      ><span class="mb-0 text-size-16 box_span">Cash Loading</span>
    </div>
  </div>

  <!-- ---------------------------------second section------------------------------- -->
  <section class="content-section position-relative">
    <div class="container position-relative">
      <figure class="element1 mb-0">
        <img src="assets/img/what-we-do-icon-1.png" class="img-fluid" alt="" />
      </figure>
      <div class="row">
        <div class="col-12">
          <div class="subheading">
            <h2>ATM Cash Forecasting</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <p class="text-size-16 text">
            Optimal planning and distribution of cash is based on calculating
            the demand for cash at each service point. There are several bank
            cash flow forecasting models, most of which are unknown for the
            users. Forecasting tools are crucial because it helps to ensure the
            correctness of the forecast, which in turn has a cost-saving effect
            of hundreds of thousands of dollars annually for any cash supply
            chain.
          </p>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <p class="text-size-16 text">
            Traditional cash analysis tools may have limited exertion due to
            several reasons. Firstly, because of the large amount of data, which
            complicates the forecast. Secondly, due to the different nature of
            trends and statistical patterns. To put it straightforwardly, cash
            flow management and forecasting for ATMs, bank branches, cash
            vaults, and other cash points is significantly more difficult than
            simply calculating the average demand at each point of service.
            Therefore, we offer comprehensive prediction tools based on neural
            networks and machine learning to calculate the demand for cash at a
            specific location. And all of it is included in our ATM cash
            management software.
          </p>
        </div>
      </div>
      <!-- <figure class="element2 mb-0">
        <img src="assets/img/what-we-do-icon-2.png" class="img-fluid" alt="" />
      </figure> -->
    </div>
  </section>

  <!-- ---------------------------------third section------------------------------- -->
  <section class="payment-section">
    <div class="container position-relative">
      <div class="row">
        <div class="col-12">
          <div class="subheading">
            <h6>Tools</h6>
            <h2>Cash Forecasting and Cash Planning tools</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <p class="text-size-16 text">
            These factors are hard to predict, which means that the systems can
            react to them and adjust the forecast with a slight delay.
            Therefore, manual correction by the cash analyst remains important
            to maintain cash delivery efficiency.
          </p>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <p class="text-size-16 text">
            Provided main trends and assessing the impact of additional factors,
            visualized data collected by CashManagement.iQ allows the analyst to
            adjust forecasts more accurately and quickly. Which in turn
            minimizes the divergence between cash forecast and actual data,
            allowing to maintain optimal cash amount in the endpoints.
          </p>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <p class="text-size-16 text">
            Learn more how to use Cash Forecasting capabilities to improve your
            cash distribution!
          </p>
        </div>
      </div>
      <!-- <figure class="element2 mb-0">
        <img src="assets/img/what-we-do-icon-2.png" class="img-fluid" alt="" />
      </figure> -->
    </div>
 
  </section>
  <div class="videosection">
    <div class="container">
      <div class="row position-relative">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div
            class="position-relative aos-init aos-animate"
            data-aos="fade-up"
          >
            <a
              class="popup-vimeo"
              href="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fcashwavelive%2Fvideos%2F522274336104990%2F&show_text=false&width=560&t=0"
            >
              <figure class="mb-0 vediosession">
                <img
                  class="thumb img-fluid"
                  style="cursor: pointer"
                  src="assets/img/image-videosession.png"
                  alt=""
                />
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------second section------------------------------- -->
  <section class="benefit-section position-relative">
    <div class="container position-relative">
      <figure class="element1 mb-0">
        <img src="assets/img/what-we-do-icon-1.png" class="img-fluid" alt="" />
      </figure>
      <div class="row">
        <div class="col-12">
          <div class="subheading">
            <h2>
              Establishing Your Own Atm Business Is Not So Simple. Make A Start
              With Cash Loading Today.
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="benefit-wrapper">
            <figure class="circle mb-0">
              <img src="assets/img/image-2-bg.png" alt="" />
            </figure>
            <figure class="benefit-image mb-0">
              <img
                src="assets/img/benefit-image.png"
                alt=""
                class="img-fluid"
              />
            </figure>
            <figure class="home-element mb-0">
              <img src="assets/img/home-element.png" alt="" class="img-fluid" />
            </figure>
            <figure class="home-element1 mb-0">
              <img src="assets/img/home-element.png" alt="" class="img-fluid" />
            </figure>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="benefit-content aos-init" data-aos="fade-right">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="content">
                  <figure class="icon icon1">
                    <img
                      src="assets\img\need-more-icon2.png"
                      alt=""
                      class="img-fluid"
                    />
                  </figure>
                  <h4>Sign Up</h4>
                  <p class="text-size-16 mb-0">
                    Get yourself registered on our ATM NETWORK. FAST, EASY, AND
                    RELIABLE.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="content-box">
                  <figure class="icon icon2">
                    <img
                      src="assets\img\services-dashboard-icon.png"
                      alt=""
                      class="img-fluid"
                    />
                  </figure>
                  <h4>Configuration</h4>
                  <p class="text-size-16">
                    Your first step before going live. Configuring the terminal
                    for your MERCHANT ACCOUNT.
                  </p>
                </div>
              </div>
            </div>
            <div class="feature-downcontent">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="content">
                    <figure class="icon icon1">
                      <img
                        src="assets\img\services-payment-management-icon.png"
                        alt=""
                        class="img-fluid"
                      />
                    </figure>
                    <h4>Deployment</h4>
                    <p class="text-size-16 mb-0">
                      Easy deployment and monitoring of services.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="content">
                    <figure class="icon icon2">
                      <img
                        src="assets\img\services-friendly.png"
                        alt=""
                        class="img-fluid"
                      />
                    </figure>
                    <h4>Earning</h4>
                    <p class="text-size-16 mb-0">
                      Earn in a transparent environment. Real-time insights and
                      24/7 customer support.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <figure class="element2 mb-0">
          <img src="assets/img/what-we-do-icon-2.png" class="img-fluid" alt="" />
        </figure> -->
    </div>
  </section>

  <!-- ---------------------fifth section----------------------- -->
  <section class="manage-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="manage-content aos-init" data-aos="fade-right">
            <h2>
              Key statistical factors for calculating the cash demand in the
              network
            </h2>
            <div class="first">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="content">
                    <!-- <h4>Annual Trend</h4> -->
                    <p class="text-size-16 text">
                      <strong>Annual trend </strong>
                      – the general pattern of cash usage in the infrastructure
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="secound">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="content">
                    <!-- <h4>Seasonal Trend</h4> -->
                    <p class="text-size-16">
                      <strong>Seasonal trend </strong>
                      – a set of patterns that distinguishes the behavior of
                      users depending on the month (migration of cash demand
                      between locations).
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="third">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="content">
                    <!-- <h4>Monthly Trend</h4> -->
                    <p class="text-size-16">
                      <strong>Monthly trend </strong>
                      – a set of patterns of changes in the activity of users
                      within one month (salary and pension paydays, etc.).
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="fourht">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="content">
                    <!-- <h4>Daily Trend</h4> -->
                    <p class="text-size-16">
                      <strong>Daily trend </strong> – a set of unique patterns
                      for each cash point related to user behavior within one
                      day (cash withdrawal activity in the morning or evening,
                      as well as cash collection fro SME merchants).
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="manage-wrapper">
            <figure class="mb-0 homeelement1">
              <img src="assets/img/home-element.png" class="img-fluid" alt="" />
            </figure>
            <figure class="mb-0 manage-image">
              <img
                src="assets/img/manage-your-everything-image.png"
                class="img-fluid"
                alt=""
              />
            </figure>
            <figure class="mb-0 content img-bg">
              <img
                src="assets/img/manageyour-mange-your-bg.png"
                alt=""
                class=""
              />
            </figure>
            <figure class="mb-0 homeelement">
              <img src="assets/img/home-element.png" class="img-fluid" alt="" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <figure class="mb-0 manage-layer">
      <img src="assets/img/mange-layer.png" alt="" class="img-fluid" />
    </figure>
  </section>

  <!-- ---------------------------------fourth section------------------------------- -->
  <section class="work-section position-relative">
    <div class="container position-relative">
      <!-- <figure class="element1 mb-0">
          <img src="assets/img/what-we-do-icon-1.png" class="img-fluid" alt="" />
        </figure> -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="work-wrapper">
            <figure class="mobile-image mb-0">
              <img src="assets/img/mobileimg.png" alt="" class="img-fluid" />
            </figure>
            <figure class="mobile-bg mb-0">
              <img src="assets/img/mobile-bg.png" alt="" />
            </figure>
            <figure class="work-element1 mb-0">
              <img src="assets/img/home-element.png" alt="" class="img-fluid" />
            </figure>
            <figure class="work-element mb-0">
              <img src="assets/img/home-element.png" alt="" class="img-fluid" />
            </figure>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="work-content aos-init aos-animate" data-aos="fade-right">
            <h6>Our Most Reliable App</h6>
            <h2>The Only Switch In Canada With A Cash Loading App</h2>
            <p class="text-size-18">
              Make use of the cash-loading mobile app with convenience for fast
              cash loading. Anywhere, anytime
            </p>
            <div class="content">
              <ul class="list-unstyled mb-0">
                <li class="h4">Easy Data Visualization</li>
                <li class="h4">Tracking Your Activity</li>
                <li class="h4">Rapid Notifications</li>
                <li class="for-space h4">Tickects</li>
              </ul>
            </div>
            <div class="image_wrapper">
              <a
                class="image_google"
                href="https://play.google.com/store/games"
              >
                <figure class="mb-0 image-google">
                  <img
                    class="img-fluid"
                    src="assets/img/image-google.png"
                    alt=""
                  />
                </figure>
              </a>
              <a class="image_apple" href="https://www.apple.com/app-store/">
                <figure class="mb-0 image-apple">
                  <img
                    class="img-fluid"
                    src="assets/img/image-apple.png"
                    alt=""
                  />
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <figure class="element2 mb-0">
        <img src="assets/img/what-we-do-icon-2.png" class="img-fluid" alt="" />
      </figure>
    </div>
  </section>
</main>
